___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        return min(a,b)
    elif a%2 !=0 and b%2 !=0:
        return max(a,b)
    elif (a%2 == 0 and b%2 != 0) or (a%2 != 0 and b%2 == 0):
        return max(a,b)

In [7]:
# Check
lesser_of_two_evens(2,4)

2

In [15]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [17]:
def animal_crackers(text):
    mylist = text.split(" ")
    if mylist[0][0] == mylist[1][0]:
        return True
    else:
        return False

In [19]:
# Check
animal_crackers('Levelheaded Llama')

True

In [21]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    sum = n1 + n2

    if sum == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [25]:
# Check
makes_twenty(20,10)

True

In [29]:
makes_twenty(12,8)

True

In [27]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
    new_str = ''
    index = 0
    for c in name:
        if index == 0 or index == 3:
            new_str = new_str + c.upper()
        else:
            new_str = new_str + c
        index += 1
    return new_str

In [295]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [297]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [305]:
def master_yoda(text):
    reverse_list = []
    word_list = text.split(" ")
    word_list.reverse()
    reverse_list = word_list
    return reverse_list

In [299]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [307]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [303]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [107]:
def almost_there(n):
    if n in range (90, 111) or n in range(190, 211):
        return True
    else:
        return False

In [309]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [311]:
# Check
almost_there(104)

True

In [313]:
# Check
almost_there(150)

False

In [113]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [193]:
def has_33(nums):
    index = 0
    for i in nums:
        if index < len(nums)-1:
            if nums[index] == 3 and nums[index+1] == 3:
                return True
            else:
                pass
        index += 1
    return False
    

has_33([3,3,3])

True

In [315]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [195]:
# Check
has_33([1, 3, 3])

True

In [197]:
# Check
has_33([1, 3, 1, 3])

False

In [199]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [201]:
def paper_doll(text):
    new_str = ''
    for c in text:
        new_str = new_str + c*3
    return new_str

In [203]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [205]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [319]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return sum
    elif sum > 21 and 11 in(a,b,c):
        return sum-10
    else:
        return 'BUST'
            
    pass

In [321]:
# Check
blackjack(5,6,7)

18

In [323]:
# Check
blackjack(9,9,9)

'BUST'

In [325]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [237]:
def summer_69(arr):
    sum = 0
    sum_before_6 = 0
    sum_after_9 = 0
    index_of_6 = 0
    index_of_9 = 0
    index = 0
    
    for i in arr:
        if i == 6:
            index_of_6 = index
        elif i == 9:
            index_of_9 = index
        index += 1

    for i in arr[0:index_of_6]:
        sum_before_6 = sum_before_6 + i

    for i in arr[index_of_9+1:len(arr)]:
        sum_after_9 = sum_after_9 + i

    if 6 not in arr and 9 not in arr:
        for i in arr:
            sum = sum + i
    else:
        sum = sum_before_6 + sum_after_9
    
    return sum

In [231]:
# Check
summer_69([1, 3, 5])

9

In [239]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [241]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [263]:
def spy_game(nums):
    index = 0
    zero_index = 0
    
    for i in nums:
        if index < len(nums)-1: 
            if i == 0 :
                zero_index = index
                if nums[zero_index+1] != 0:
                    return False
                elif nums[zero_index+1] == 0 and nums[zero_index+2] == 7:
                    return True
                else:
                    return False   
        index += 1
spy_game([0,0,7])

True

In [327]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [265]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [267]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [269]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [289]:
def count_primes(num):
    prime_count=0
    for n in range(2,num+1):
        for i in range(2,n):
            if n%i == 0:
                break
        else:
            prime_count+=1
    return prime_count

In [293]:
# Check
count_primes(10)

4

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [329]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [339]:
print_big('e')

*****
*
*****
*
*****

## Great Job!