In [1]:
#Methods and Functions - introduction

In [3]:
mylist = [1,2,3]

In [5]:
mylist

[1, 2, 3]

In [7]:
mylist.append(4) #appends new item to end of list

In [9]:
mylist

[1, 2, 3, 4]

In [11]:
mylist.pop() # pops out the last element of the list

4

In [13]:
mylist

[1, 2, 3]

In [17]:
#write dot and hit tab, we will see the available functions in notebook
#mylist.<tab> #gives list of available functions for list object

#first method to get help on built in function
# we can also get help on function to understand the variables to be passed using shift and tab after function
#mylist.append<hit tab> to see method signature and how to use them

#second method is used to built in help function
help(mylist.reverse)

#third method is to go through published python documentation in python website

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [25]:
mylist

[1, 2, 3]

In [21]:
mylist.reverse()

In [23]:
mylist

[1, 2, 3]

In [27]:
#def keyword specifies that its a function and the function name is usually in snake case where in between words we have a _ specified and its all in lower case
#class names use camel casing
#def function_name():

In [29]:
#DocString
'''
this is multiline comment line
'''

'\nthis is multiline comment line\n'

In [31]:
def say_hello_world():
    ''' Here we will print hello world '''
    print("Hello World")

In [33]:
say_hello_world()

Hello World

In [35]:
def say_hello_world(name):
    ''' Here we will print hello world '''
    print("Hello "+name+"!")

say_hello_world("Priyanka Prabhu")

Hello Priyanka Prabhu!

In [37]:
def add_two_numbers(a, b):
    return a+b

result = add_two_numbers(10,20)
print(result)

30

In [41]:
say_hello_world # just gives function name as output

In [43]:
def say_hello(name):
    ''' Here we will print hello world '''
    print("Hello " + name)

In [45]:
say_hello() # since name is not provided or passed to function call

TypeError: say_hello() missing 1 required positional argument: 'name'

In [47]:
# to avoid such case we can provide default value to the variable or argument in the function as follows:

In [49]:
def say_hello(name='Default'):
    ''' Here we will print hello world '''
    print("Hello " + name)
say_hello()

Hello Default

In [51]:
#see here we didnt get any error rather it printed Default

In [53]:
#difference between print and return in function

In [59]:
def print_result(a, b):
    print(a + b)

In [61]:
 print_result(10,20)

30

In [63]:
# here it only outputs the print function contents and doesnt return anything even if we assign to variable its NoneType
result =  print_result(10,20)
result

30

In [65]:
type(result)

NoneType

In [67]:
def print_result(a, b):
    return(a + b)

In [69]:
 print_result(10,20)

30

In [73]:
# here it outputs the value and it can be stored in a variable for further computations
result =  print_result(10,20)
result

30

In [75]:
type(result)

int

In [77]:
#now we can see we can have both print executed and return a value as follows:
def print_result(a, b):
    print(a+b)
    return(a + b)

In [79]:
result =  print_result(10,20)
result

30

30

In [81]:
#here it printed first time with the value from print statement so no output cell value and second time from return and hence we can see a output cell attached
type(result)

int

In [85]:
#now with python since its dynamically typed we dont have data type with arguments and hence it could be faster to code but it could lead to bugs
# we may want to check the type of data as arguments in function before any operation to avoid unwanted outputs
# lets see this example
def sum_numbers(a,b):
    print(a+b)

In [87]:
sum_numbers(10,20) # will return 30 after adding two numbers

30

In [89]:
sum_numbers("hello", "world") # will concatenate two strings with + operator and return value which may not be desired here

helloworld

In [91]:
#so to avoid it its better to check the type of arguments passed before computation

In [93]:
def even_check(number):
    return number % 2 == 0

In [95]:
even_check(20)

True

In [97]:
even_check(99)

False

In [113]:
#now lets check even or odd in list of numbers
def even_check(list):
    for num in list:
        if num % 2 == 0:
            print(num , "==> even")
        else:
            print(num , "==> odd")

In [115]:
even_check(range(1,10))

1 ==> odd
2 ==> even
3 ==> odd
4 ==> even
5 ==> odd
6 ==> even
7 ==> odd
8 ==> even
9 ==> odd

In [131]:
#check if word has a vowel
def check_vowel_in_word(word):
    for c in word:
        if c in 'aeiou' or c in 'AEIOU':
            return "vowel found : "+c
        else:
            pass #do nothing
    return "no vowels found!"

In [133]:
check_vowel_in_word("CAT")

'vowel found : A'

In [135]:
check_vowel_in_word("TTTT")

'no vowels found!'

In [137]:
# program to return all the even numbers in a list
def check_even_numbers_in_list(list):
    mylist = []
    for num in list:
        if num % 2 == 0:
            mylist.append(num)
        else:
            pass
    return mylist

In [139]:
check_even_numbers_in_list(range(1,21))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [141]:
check_even_numbers_in_list([1,3,4,5])

[4]

In [147]:
check_even_numbers_in_list(range(3,21,2)) # no even numbers since its list of odd numbers

[]

In [149]:
#Functions and Tuples unpacking

In [151]:
#tuples unpacking
stock_prices = [('ORCL', 190), ('VMWARE', 170), ('APPL', 250)]

for item in stock_prices:
    print(item) #prints tuples

('ORCL', 190)
('VMWARE', 170)
('APPL', 250)

In [155]:
#tuples unpacking
for item, price in stock_prices:
    print(f'{item} is priced at : {price}')

ORCL is priced at : 190
VMWARE is priced at : 170
APPL is priced at : 250

In [161]:
#or we can check or work on individuals like item or price seperately
for item, price in stock_prices:
    print(f'{item} price is discounted with 10%. here is final price : {price - price * (0.1)}')

ORCL price is discounted with 10%. here is final price : 171.0
VMWARE price is discounted with 10%. here is final price : 153.0
APPL price is discounted with 10%. here is final price : 225.0

In [175]:
#lets check max or highest marks scored in class of students
student_list = [('Shraddha', 89), ('Bhumika', 80), ('Pavani', 99), ('Sai Ishanvi', 90)]
def check_scores(student_list):
    curr_high_score = 0
    student_scored_highest_scores = ''
    
    for student, scores in student_list:
        if scores > curr_high_score:
            curr_high_score = scores
            student_scored_highest_scores = student
        else:
            pass
    return (student_scored_highest_scores, curr_high_score)

In [177]:
check_scores(student_list)

('Pavani', 99)

In [179]:
# here we see function returns a tuple and print it
result = check_scores(student_list)
result

('Pavani', 99)

In [181]:
type(result)

tuple

In [183]:
# we can also have tuples unpacked from return values with fucntion return parameter as follows:
student_name, score = check_scores(student_list)

In [185]:
student_name

'Pavani'

In [187]:
score

99

In [189]:
# so we see that fucntions returned tuples can be unpacked and read individual values too
#the problem here is user will not know how many tuple unpacked values will be returned from function beforehand
student_name, score, roll_no = check_scores(student_list)

ValueError: not enough values to unpack (expected 3, got 2)

In [191]:
#so its always better to do following and explore how many items returned in tuples

In [193]:
result = check_scores(student_list)

In [197]:
result

('Pavani', 99)

In [199]:
#Interactions between python functions

In [203]:
# lets work and develop the three cup monte game to guess red ball under three cups, where its placed when shuffled

# we have seen shuffle function in random library earlier which does inplace shuffling of the list items as follows

mylist = [1,2,3,4,5]
from random import shuffle
shuffle(mylist)
mylist

[3, 2, 1, 4, 5]

In [207]:
shuffle(mylist)
mylist

[2, 3, 4, 5, 1]

In [209]:
help(shuffle)

Help on method shuffle in module random:

shuffle(x) method of random.Random instance
    Shuffle list x in place, and return None.

In [211]:
#shuffle as we know will do inplace changes to list and returns NoneType or no value
# so we will need a function which will return us a shuffled list, lets do it

def shuffle_list(list_of_cups_and_ball):
    shuffle(list_of_cups_and_ball)
    return list_of_cups_and_ball

shuffle_list(mylist)

[1, 3, 2, 4, 5]

In [213]:
mylist

[1, 3, 2, 4, 5]

In [225]:
# so with this function changes or custom changes we were able to shuffle the list and return the shuffled list to user

#now lets take the user guess and return the value
def player_guess():
    guess = ''

    # to check if user gives value or guess between 0,1,2 we can use while loop
    while guess not in ['0','1','2']:
        guess = input('Pick a value from 0, 1, 2 to play the game - Three cup monte')

    return int(guess)

#since input function outputs only string we have initialised guess as string and checked the while loop ccondition with string list of 0,1,2
# final return value we have casted to integer type value

In [227]:
player_guess()

Pick a value from 0, 1, 2 to play the game - Three cup monte 10
Pick a value from 0, 1, 2 to play the game - Three cup monte 9
Pick a value from 0, 1, 2 to play the game - Three cup monte 8
Pick a value from 0, 1, 2 to play the game - Three cup monte 2

2

In [229]:
# now we have shuffled list, players guess - we now need to check the guess and see if ball is in right guessed position or not
def check_guess(given_list, guess):
    if given_list[guess] == 'O':
        print('Right Guess, Bingo!!')
    else:
        print(f'Sorry, Wrong Guess... lets see where the ball is : {given_list}')

In [245]:
#lets make it to script to call these functions and see how each function interacts with third final function to check the guess of player

# INITIALISE LIST of CUPS with BALL placement
list_of_ball_with_cups = [' ', 'O', ' ']

# SHUFFLE the list
shuffle_list(list_of_ball_with_cups)

# TAKE A PLAYERS GUESS
guess = player_guess()

# CHECK GUESS AND SEE IF BALL is IN RIGHT GUESSED POSITION??
check_guess(list_of_ball_with_cups, guess)

Pick a value from 0, 1, 2 to play the game - Three cup monte 1

Right Guess, Bingo!!