<h1>Advanced Sets</h1>

<p>We'll go over the basic ones you already know and then dive a little deeper.</p>

In [4]:
#blank set or default value of set
s = set()

In [6]:
s

set()

<h3>add</h3>

<p>add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)</p>

In [8]:
s.add(2)

In [10]:
s.add(3)

In [12]:
s

{2, 3}

In [14]:
s.add("A")

In [16]:
s.add(2)

In [18]:
s

{2, 3, 'A'}

<h3>clear</h3>

<p>removes all elements from the set</p>

In [22]:
s.clear()
s

set()

<h3>copy</h3>

returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [31]:
s = {1,2,3}
sc = s.copy()

In [33]:
sc

{1, 2, 3}

s.add(4)
s

In [37]:
sc

{1, 2, 3}

<h3>difference</h3>

difference returns the difference of two or more sets. The syntax is:

set1.difference(set2)

For example:

In [42]:
s

{1, 2, 3, 4}

In [44]:
sc

{1, 2, 3}

In [46]:
s.difference(sc)

{4}

<h3>difference_update</h3>

difference_update syntax is:

set1.difference_update(set2)

the method returns set1 after removing elements found in set2

It actually updates difference() method return value to s

In [52]:
s.difference_update(sc)

In [57]:
s

{4}

In [59]:
s1 = {1,2,4}
s2 = {4,5,6}
s1.difference(s2)

{1, 2}

In [61]:
s1

{1, 2, 4}

In [63]:
s2

{4, 5, 6}

In [65]:
s1.difference_update(s2)

In [67]:
s1

{1, 2}

<h3> discard</h3>

Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [75]:
s1 = {1,2,3,4}
s1.discard(2)

In [77]:
s1

{1, 3, 4}

In [79]:
s1.discard(5)

In [83]:
s1

{1, 3, 4}

<h3>intersection and intersection_update
</h3>

Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [97]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
s1.intersection(s2)

{3, 4, 5}

In [105]:
#now lets update s1 with intersaction output value
#intersection_update will update a set with the intersection of itself and another.
s1.intersection_update(s2)
s1

{3, 4, 5}

In [101]:
s1

{3, 4, 5}

In [103]:
s2

{3, 4, 5, 6, 7}

<h3>isdisjoint</h3>

This method will return True if two sets have a null intersection.

In [115]:
s1 = {1,2,3}
s2 = {2}

s1.isdisjoint(s2) #False, since intersaction element here is 2

False

In [119]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2) #no intersection here

True

<h3>issubset</h3>

This method reports whether another set contains this set.

In [125]:
s1 = {1,2,3,4,5}
s2 = {2,3}

s2.issubset(s1)

True

In [127]:
s1.issubset(s2)

False

<h3>issuperset</h3>

This method will report whether this set contains another set.

In [133]:
s2.issuperset(s1)

False

In [135]:
s1.issuperset(s2)

True

<h3>symmetric_difference and symmetric_update</h3>

Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [141]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

s1.symmetric_difference(s2)

{4, 5}

In [143]:
s2.symmetric_difference(s1)

{4, 5}

In [145]:
#Lets update s1 with symmetric difference values
s1.symmetric_difference_update(s2)
s1

{4, 5}

In [147]:
s2

{1, 2, 3}

<h3>union</h3>

Returns the union of two sets (i.e. all elements that are in either set.)

In [151]:
s1 = {1,2,3,4}
s2 = {4,5,3,1}
s1.union(s2)

{1, 2, 3, 4, 5}

<h3>update</h3>

Update a set with the union of itself and others.

In [155]:
s1.update(s2)
s1

{1, 2, 3, 4, 5}