In [1]:
#List Comprehensions
# unique way to quickly create lists in python
# if in for loop we have been using append() to create list then list comprehension can be saviour for us in such cases.

# how lists can be created from letters of a word in generic case

mystring = "hello world"

mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [3]:
# lets rewrite it using list comprehensions
# this has helped to flattened the for loop into single line
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
#another example
mylist = [x for x in 'hi']

In [7]:
mylist

['h', 'i']

In [13]:
mylist = [ x for x in range(0,10) ]

In [15]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# we can also perform operations on x or items of list

mylist = [ num for num in range(0,10) ]

In [19]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# to find square of numbers
mylist = [ num**2 for num in range(0,10) ]

In [27]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
#now if we want to print only even numbers from given range of values or in list
mylist = [ num for num in range(0,10) if num%2 == 0]

In [31]:
mylist

[0, 2, 4, 6, 8]

In [35]:
# lets try a use case to give equation in first value for list formation using comprehension
# convert temp from celsius to fahrenhiet

celsius = [35, 45, 23.5]

fahrenhiet = [((9/5)* temp + 32) for temp in celsius]
fahrenhiet

[95.0, 113.0, 74.30000000000001]

In [39]:
# use if else statements with list comprehensions, but readability of the python code is compromised. Do it only if necessary
mylist = [ num for num in range(0,10) if num%2 == 0]
# here the order of if statement is at the end of the list formation for if else statements the order is different and it could
#be confusing for users to read and understand
mylist = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [41]:
mylist

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [43]:
mylist = ['EVEN' if x%2 == 0 else 'ODD' for x in range(0,10)]

In [45]:
mylist

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [59]:
# nested loops with list comprehensions
mylist = []

for x in [1,2,3]:
    for y in [1,10,100,1000]:
        mylist.append(x*y)

In [61]:
mylist

[1, 10, 100, 1000, 2, 20, 200, 2000, 3, 30, 300, 3000]

In [51]:
#now lets do this with list comprehensions

In [57]:
mylist = [x*y for x in [1,2,3] for y in [1,10,100]]
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]